.PrimaryProducts {
  background-color: white;
  padding: max(50px, 10%);
  display: flex;
  gap: 40px;
}

.hoverProduct {
  transition: transform 150ms;
}

.hoverProduct:hover {
  transform: scale(1.1);
}

.boxProduct {
  background-color: #f4f4f4;
  text-decoration: none;
  color: black;
}

.BoxRigth {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 3;
}