.nameProductRigthTop {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}
.ProductRigthTop {
  flex: 1;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.imgProductRigthTop {
  max-height: 270px;
  width: min(400px, 45%);
  object-fit: cover;
}

.textBoxRigthTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aniamtionBtnRigthTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  justify-content: start;
  overflow: hidden;
  height: 140px;

}

.descriptionProductRigthTop {
  text-align: center;
  padding: 30px;
}

.MOBILEaniamtionBtnRigthTop {
  height: 170px;
}

@media (max-width: 1700px) {
  .descriptionProductRigthTop {
    font-size: 1rem;
  }
  .textBoxRigthTop {
    height: 100%;
    width: 50%;
  }
  .aniamtionBtnRigthTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    justify-content: start;
    overflow: hidden;
    height: 200px;
  }
}

@media (max-width: 1500px) {
  .ProductRigthTop {
    min-height: 280px;
  }
}

@media (max-width: 950px) {
  .ProductRigthTop {
    flex-direction: column-reverse;
  }
  .textBoxRigthTop {
    width: min(100%, 500px );
  }
  .imgProductRigthTop {
    width: 100%;
    height: auto;
    max-height: none;
    object-fit: cover;
  }
  .MOBILEaniamtionBtnRigthTop {
    height: auto;
  }
}