.Title {
  margin: 20px;
  margin-top: -30px;
  font-family: 'Kanit', sans-serif;
  font-size: 7rem;
}

.boxLether {
  font-weight: bold;
  margin-top: -80px;
  text-align: center;
}

.Title {
  font-size: 5rem;
}

.boxLether {
  margin-top: -58px;
}