.Tiendas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  padding-bottom: 130px;
}
.titleTienda {
  font-family: 'Kanit', sans-serif;
  font-size: 9rem;
  color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
}
.namesShops {
  font-size: 3rem;
  margin-top: 100px;
}
.titleBoxTienda {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  align-items: center;
  gap: 90px;
  width: 80%;
  width: 100%;
}
.imgTitle {
  height: 60vh;
}

.parteTitle {
  margin-top: -40px;
}

@media (max-width: 1350px) {

  .parteTitle {
    font-size: 8rem;
  }
  .imgTitle {
    height: 50vh;
  }
}
@media (max-width: 980px) {
  .parteTitle {
    font-size: 8rem;
  }
  .imgTitle {
    height: 40vh;
  }
  .titleBoxTienda {
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 0;
  }
  .titleTienda {
    align-items: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 690px) {
  .parteTitle {
    font-size: 6rem;
  }
}
@media (max-width: 510px) {
  .parteTitle {
    font-size: 4.5rem;
  }
}