.Slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgSlider {
  width: 900px;
  height: 500px;
  object-fit: cover;
  display: none;
}

.visible {
  display: inline;
}

.arrowBtn {
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
  transition: all 150ms;
  position: absolute;
  top: calc(50% - 20px);
}

.arrowBtnLeft {
  left: 5%;
}

.arrowBtnRigth {
  right: 5%;
}

.arrowBtn:hover {
  background-color: rgb(54, 54, 54);
  color: white;
}

.elements {
  position: absolute;
  bottom: 15px;
  width: 200px;
  left: calc(50% - 100px);
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.quadrate {
  padding: 0;
  height: 8px;
  border-radius: 6px;
  border: 0;
  width: 8px;
  background-color: rgba(249, 252, 255, 0.623);
  transition: all 200ms;
}

.quadrateView {
  width: 30px;
}