.Header {
  font-size: 20px;
  color: #231815;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 300px;
  background-color: white;
  padding: 5px 0;
  position: sticky;
  top: 0;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  height: 67px;
}

.logoSVG {
  height: 60px;
}

.homeHeader {
  display: flex;
  gap: 20px;
  color: #231815;
  justify-content: center;
  align-items: center;
}

.titleHeader {
  font-size: 1.8rem;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.li {
  list-style: none;
}

.navLink {
  color: #231815;
}

.btnSearchNav {
  background-color: transparent;
  border:0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #4e4e4e;
}

.btnSearchNav:hover {
  color: #2b2b2b;
}

.rigth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btnExit {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #4e4e4e;
}

.btnExit:hover {
  color: #2b2b2b;
}

.NavMobile {
  display: none;
}

@media (max-width: 1121px){
  .Header {
    justify-content: space-between;
    gap: 0;
  }
  .homeHeader {
    margin-left: 50px;
  }
  .rigth {
    margin-right: 50px;
  }
}

@media (max-width: 980px){
  .NavMobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    height: 100vh;
    top: 0;
    margin: 0;
    right: 0;
    width: 0;
    transition: all 200ms;
    font-size: 2rem;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
  }
  .NavMobileView {
    width: min(400px, 100vw);
  }
  .Nav {
    display: none;
  }
}

@media (max-width: 600px) {
  .homeHeader {
    margin-left: 20px;
  }
  .rigth {
    margin-right: 20px;
  }
}