.SECProductLeft {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: start;
  align-items: center ;
  padding: 40px 20px;
  border-radius: 30px;
  height: 590px;
  flex: 1;
}

.SECnameProductLeft {
  font-weight: bold;
  font-size: 1.6rem;
}

.SECimgProductLeft {
  width: 400px;
  margin-bottom: 40px;
}

.SECdescriptionProductLeft {
  width: min(400px, 90%);
  text-align: center;
  color: rgb(53, 53, 53);
  margin: 20px;
}

.SECaniamtionBtnLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SECbtnProduct {
  background-color: transparent;
  color: rgb(43, 43, 43);
  font-weight: bold;
  border: 2px solid rgb(43, 43, 43);
  border-radius: 40px;
  padding: 10px 20px;
  width: 150px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms;
}

.SECbtnProduct:hover {
  background-color: rgb(43, 43, 43);
  color: white;
}

.SECisMobileProductLeft {
  height: 650px;
}

@media (max-width: 1700px) {
  .SECdescriptionProductLeft {
    font-size: 1rem;
  }
}
@media (max-width: 1450px) {
  .SECboxProduct {
    display: flex;
    flex-direction: column;
  }
  .SECProductLeft {
    flex-direction: row-reverse;
    flex: 1;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    height: 400px;
  }
  .SECimgProductLeft {
    min-width: 40%;
    height: 280px;
    object-fit: cover;
    margin: 0;
  }
  .SECaniamtionBtnLeft {
    max-width: 50%;
  }
}
@media (max-width: 950px) {
  .SECProductLeft {
    flex-direction: column;
    padding: 20px;
    min-width: auto;
  }
  .SECimgProductLeft {
    min-width: none;
    width: 90%;
    height: 300px;
  }
  .SECaniamtionBtnLeft {
    max-width: none;
    width: min(100%, 500px );
    min-width: none;
  }
}