.liFooter {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ulFooter {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.linkFooter {
  text-decoration: none;
  color: #767676;
}

.linkFooter:hover {
  color: #353535;
}

.titleFooter {
  font: inherit;
  font-weight: 700;
  font-size: 1.1rem;
  color: #4e4e4e;
}

.colFooter {
  width: 260px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}