.liFooter {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ulFooter {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.linkFooter {
  text-decoration: none;
  color: #767676;
}

.linkFooter:hover {
  color: #353535;
}

.titleFooter {
  font: inherit;
  font-weight: 700;
  font-size: 1.1rem;
  color: #4e4e4e;
}

.colFooter {
  transition: all 300ms;
  width: 260px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  min-width: 210px;
}
.test {
  display: flex;
}

@media (max-width: 1350px) {
  .colFooter {
    overflow: hidden;
    height: 25px;
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 5px;
    cursor: pointer;
  }
  .viewFooter {
    height: 320px;
  }
}
