.nameProductRigthTop {
  font-weight: bold;
  font-size: 1.6rem;
}

.ProductRigthTop {
  flex: 1;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.imgProductRigthTop {
  height: 270px;
  width: 400px;
  object-fit: cover;
}

.textBoxRigthTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aniamtionBtnRigthTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  justify-content: start;
  overflow: hidden;
  height: 140px;

}

.descriptionProductRigthTop {
  text-align: center;
  padding: 30px;
}