.ProductLeft {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: start;
  align-items: center ;
  padding: 40px 20px;
  border-radius: 30px;
  height: 590px;
  flex: 1;
  min-width: 360px;
}



.nameProductLeft {
  font-weight: bold;
  font-size: 1.6rem;
}

.imgProductLeft {
  width: 400px;
  margin-bottom: 40px;
}


.descriptionProductLeft {
  width: min(400px, 90%);
  text-align: center;
  color: rgb(53, 53, 53);
  margin: 20px;
}

.aniamtionBtnLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.btnProduct {
  background-color: transparent;
  color: rgb(43, 43, 43);
  font-weight: bold;
  border: 2px solid rgb(43, 43, 43);
  border-radius: 40px;
  padding: 10px 20px;
  width: 150px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms;
}

.btnProduct:hover {
  background-color: rgb(43, 43, 43);
  color: white;
}

.isMobileProductLeft {
  height: 650px;
}