.productItem {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 15px;
  gap: 15px;
  flex: 1;
  align-items: center;
  max-width: 240px;
  padding-bottom: 35px;
}

.itemLink {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: center;
  justify-content: center;
}

.pITitle {
  font-size: 22px;
}

.boxImgItem {
  width: 80%;
  display:  flex;
  justify-content: center;
}

.boxText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textMarcaItem {
  color: gray;
}

.textNombreItem {
  color: black;
  font-size: 1.1rem;
  width: 80%;
}

.textPrecioItem {
  font-weight: bold;
  font-size: 1.5rem;
}

.addCardButton {
  background-color: rgb(43, 43, 43);
  color: white;
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid rgb(43, 43, 43);
  transition: all 150ms;
}

.addCardButton:hover {
  background-color: transparent;
  color: black;
  background-color: rgb(43, 43, 43);
  color: white;
}

.productItem:hover {
  box-shadow: 0 0 7px rgb(0 0 0 / 40%);
}

.boxAddItemHidden {
  position: fixed;
  top: -30px;
  transition: top 0.3s;
}

.boxAddItem {
  width: 340px;
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 100px;
  right: calc(50% - 190px);
  transition: top 0.3s;
  z-index: 10000;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.4rem;
}