.NavMobile {
  display: none;
}

@media (max-width: 1121px){
  .Header {
    justify-content: space-between;
    gap: 0;
  }
  .homeHeader {
    margin-left: 50px;
  }
  .rigth {
    margin-right: 50px;
  }
}

@media (max-width: 980px){
  .NavMobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    height: 100vh;
    top: 0;
    margin: 0;
    right: 0;
    width: 0;
    transition: all 200ms;
    font-size: 2rem;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
  }

  .NavMobileView {
    width: min(400px, 100vw);
  }
  
}